node_modules
*.log
.DS_Store
coverage
.idea
errorShots/
screenshots/actual/
screenshots/diff/
logs/
allure-report
package-lock.json
reports/
allure-results/
videos/
.env
tests/UI/pdfs/data/actual
tests/UI/pdfs/data/diffPngs
tests/UI/pdfs/data/actualPngs
tests/UI/pdfs/data/baselinePngs


